@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.project-form-layout,
.project-form,
.task-form-layout,
.task-form {
  display: none;
}

.project-form-layout.active,
.project-form.active,
.task-form-layout.active,
.task-form.active {
  display: block;
}

* {
  font-family: "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  height: 100vh;
}

.wrapper {
  box-shadow: 0 0 15px 1px rgb(189, 189, 189);
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1100px;
  margin-inline: auto;
}

/* header: */
.header {
  padding: 0 15px;
  height: 60px;
  background-color: rgb(58, 58, 58);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
}

.logo-button h1 {
  color: rgb(238, 238, 238);
  font-size: 1.6rem;
  margin: 0;
}

.header-left img {
  height: 32px;
}

.add-project {
  border: none;
  transition: 0.3s ease-in-out;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-project-btn-text-container {
  overflow: hidden;
}

.add-project-btn-text {
  padding-right: 8px;
  transition: 0.3s ease-in-out;
  font-size: 1rem;
  color: rgb(238, 238, 238);
  transform: translateX(20%);
  opacity: 0;
}

.add-project:hover .add-project-btn-text {
  transform: translateX(0);
  opacity: 1;
}

.plus-sign img {
  transition: 0.3s ease-in-out;
  height: 32px;
}

.add-project:hover .plus-sign img {
  transform: scale(1.1) rotate(90deg);
}

.add-project:active .plus-sign img {
  transform: scale(1) rotate(90deg);
}
/*  */

/* content: */
.content {
  flex-grow: 1;
  display: flex;
}
/*  */

/* sidebar: */
.sidebar {
  width: 300px;
  background-color: rgb(228, 228, 228);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.default-projects {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  gap: 10px;
}

.default-projects button {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  border: none;
  background-color: rgb(228, 228, 228);
  transition: 0.15s ease-in-out;
  height: 50px;
}

.default-projects button:hover {
  filter: brightness(1.05);
}

.default-projects:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  height: 1px;
  width: 80%; /* or 100px */
  border-bottom: 1px solid rgb(190, 190, 190);
}

.default-projects .sidebar-project-title {
  font-size: 1.1rem;
}

.default-projects img {
  height: 30px;
  position: relative;
  top: 1px;
}

.user-projects {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.user-project-container {
  background-color: rgb(228, 228, 228);
  transition: 0.1s ease-in-outl;
  display: flex;
  align-items: center;
  height: 40px;
}

.user-project-container:hover {
  filter: brightness(1.05);
}

.user-project-left {
  height: 100%;
  flex-grow: 1;
}

.user-project-button {
  padding: 0 25px;
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

.user-project-dot {
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: rgb(58, 58, 58);
}

.user-project-title {
  font-size: 0.9rem;
}

.user-project-right {
  padding-right: 25px;
}

.delete-project {
  transition: 0.15s ease-in-out;
  background: none;
  border: none;
}

.delete-project:hover {
  color: red;
}

.main {
  flex-grow: 1;
  background-color: rgb(246, 246, 246);
  padding: 20px;
}

.current-project-title {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.add-task-button {
  transition: 0.1s ease-in-out;
  padding: 0 5px;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
}

.add-task-button:active {
  transform: scale(0.97);
}

.add-task-icon img {
  transition: 0.2s ease-in-out;
  position: relative;
  top: 2px;
  height: 22px;
}

.add-task-button:hover .add-task-icon img {
  transform: translateX(-5%);
}

.add-task-button-text {
  transition: 0.2s ease-in-out;
  transform: translateX(-5%);
  opacity: 0;
}

.add-task-button:hover .add-task-button-text {
  transform: translateX(0);
  opacity: 1;
}

.add-task-button-container {
  display: none;
}

.add-task-button-container.active {
  display: block;
  position: relative;
}

.tasks-container {
  position: relative;
  margin-top: 20px;
}

.tasks-container:before {
  position: absolute;
  content: "";
  border-top: 1px solid rgb(190, 190, 190);
  left: 50%;
  top: -5px;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 100%;
}

.task {
  transition: all 0.15s ease-in-out;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(246, 246, 246);
  height: 35px;
}

.task:hover {
  filter: brightness(0.96);
}

.task.complete {
  color: grey;
}

.task-left {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  flex-shrink: 0;
  cursor: pointer;
  position: relative;
  appearance: none;
  transition: all 0.3s ease;
  height: 20px;
  width: 20px;
  &:after {
    position: absolute;
    content: "";
    border-bottom: 1px solid;
    width: 8px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: unchecked 0.1s ease-in;
  }
}

@keyframes unchecked {
  0% {
    border-bottom: solid 1px green;
    border-left: solid 1px green;
    height: 4px;
    width: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  100% {
    border-bottom: 1px solid;
    width: 5px;
    height: 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

input[type="checkbox"]:checked:after {
  height: 0px;
  border-bottom: solid 1px;
  border-left: solid 1px;
  animation: checked 0.3s ease-in forwards;
}

@keyframes checked {
  25% {
    left: 100%;
    width: 1px;
    transform: translate(-50%, -50%) rotate(0);
  }

  50% {
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
  }

  66% {
    top: 50%;
  }

  100% {
    border-bottom: solid 1px green;
    border-left: solid 1px green;
    height: 4px;
    width: 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

label {
  position: relative;
  cursor: pointer;
  flex-shrink: 0;
}

input[type="checkbox"]:checked + label {
  animation: marked 0.2s ease-in forwards;
}

input[type="checkbox"]:checked + label:before {
  position: absolute;
  content: "";
  width: 0;
  left: -10%;
  top: 50%;
  transform: translateY(-50%);
  border-bottom: 1px solid;
  animation: cross 0.2s ease-in forwards;
}

@keyframes marked {
  25% {
    left: 0;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 0;
  }
}

@keyframes cross {
  25% {
    width: 0;
  }
  100% {
    left: 0;
    width: 100%;
    border: 1px solid grey;
  }
}
